{% load bootstrap4 %}
{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% if title %}
    <title>Netflix Clone {{title}}</title>
  {% else %}
    <title>Netflix Clone</title>
  {% endif %}
  {% block styles %}
  {% bootstrap_css %}
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  
  {% endblock %}
  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %}
{%endblock%}  
</head>

<body>
  {% include "navbar.html" %}
  {% block content %}

  {% endblock %}
</body>
</html>